:root {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

/* config font-style */

@font-face {
  font-family: "SFProDisplay";
  src: local("SFProDisplay"), url(/fonts/SFProDisplay.ttf) format("truetype");
}

@font-face {
  font-family: "SFProText";
  src: local("SFProText"), url(/fonts/SFProText.ttf) format("truetype");
}

/* image banner style */
.carousel .slide img {
  max-height: 653px;
  width: "100%";
  background-position: center;
}
/* zoom sale product css */
.zoom:hover {
  transform: scale(1.1);
}

/* phone screen */
@media only screen and (max-width: 600px) {
  .img-promo {
    width: 160px;
    margin-top: -30px;
  }
}

/* laptop screen */
@media only screen and (min-width: 600px) {
  .img-promo {
    width: 700px;
    margin-top: -78px;
  }
}
