:root {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

/* config font-style */

@font-face {
  font-family: "SFProDisplay";
  src: local("SFProDisplay"), url(/fonts/SFProDisplay.ttf) format("truetype");
}

@font-face {
  font-family: "SFProText";
  src: local("SFProText"), url(/fonts/SFProText.ttf) format("truetype");
}

/* image banner style */
.carousel .slide img {
  max-height: 653px;
  width: "100%";
  background-position: center;
}
/* zoom sale product css */
.zoom:hover {
  transform: scale(1.1);
}

/* phone screen */
@media only screen and (max-width: 600px) {
  .img-promo {
    width: 160px;
    margin-top: -30px;
  }
  .img-share {
    width: 174px;
  }
}

/* laptop screen */
@media only screen and (min-width: 600px) {
  .img-promo {
    width: 700px;
    margin-top: -78px;
  }
  .img-share {
    width: 210px;
  }
}

/* start screen css */
.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 112px;
  height: 112px;
  display: grid;
  background: #fff;
  filter: blur(5.6px) contrast(10);
  padding: 11.2px;
  mix-blend-mode: darken;
}

.blob:before,
.blob:after {
  content: "";
  grid-area: 1/1;
  width: 44.8px;
  height: 44.8px;
  background: #40bfff;
  animation: blob-rhf26m 2s infinite;
}

.blob:after {
  animation-delay: -1s;
}

@keyframes blob-rhf26m {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(100%, 100%);
  }

  75% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* loading css */
.flipping {
  width: 67.2px;
  height: 67.2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.flipping div {
  animation: flipping-18i5bq 1.5s calc(var(--delay) * 1s) infinite backwards;
  background-color: #40bfff;
}

.flipping div:nth-child(1) {
  --delay: 0.1;
}

.flipping div:nth-child(2) {
  --delay: 0.2;
}

.flipping div:nth-child(3) {
  --delay: 0.3;
}

.flipping div:nth-child(4) {
  --delay: 0.4;
}

.flipping div:nth-child(5) {
  --delay: 0.5;
}

.flipping div:nth-child(6) {
  --delay: 0.6;
}

.flipping div:nth-child(7) {
  --delay: 0.7;
}

.flipping div:nth-child(8) {
  --delay: 0.8;
}

.flipping div:nth-child(9) {
  --delay: 0.9;
}

@keyframes flipping-18i5bq {
  0% {
    transform: perspective(67.2px) rotateX(-90deg);
  }

  50%,
  75% {
    transform: perspective(67.2px) rotateX(0);
  }

  100% {
    opacity: 0;
    transform: perspective(67.2px) rotateX(0);
  }
}
