:root {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

/* config font-style */

@font-face {
  font-family: "SFProDisplay";
  src: local("SFProDisplay"), url(/fonts/SFProDisplay.ttf) format("truetype");
}

@font-face {
  font-family: "SFProText";
  src: local("SFProText"), url(/fonts/SFProText.ttf) format("truetype");
}

/* image banner style */
.carousel .slide img {
  max-height: 653px;
  width: "100%";
  background-position: center;
}
/* zoom sale product css */
.zoom:hover {
  transform: scale(1.1);
}

/* phone screen */
@media only screen and (max-width: 600px) {
  .img-promo {
    width: 160px;
    margin-top: -30px;
  }
  .img-share {
    width: 174px;
  }
}

/* laptop screen */
@media only screen and (min-width: 600px) {
  .img-promo {
    width: 700px;
    margin-top: -78px;
  }
  .img-share {
    width: 210px;
  }
}
.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 112px;
  height: 112px;
  display: grid;
  background: #fff;
  filter: blur(5.6px) contrast(10);
  padding: 11.2px;
  mix-blend-mode: darken;
}

.blob:before,
.blob:after {
  content: "";
  grid-area: 1/1;
  width: 44.8px;
  height: 44.8px;
  background: #40bfff;
  animation: blob-rhf26m 2s infinite;
}

.blob:after {
  animation-delay: -1s;
}

@keyframes blob-rhf26m {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(100%, 100%);
  }

  75% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, 0);
  }
}
